build/Debug-iphonesimulator/GuitarPrompter.app.dSYM/Contents/Info.plist
build/Debug-iphonesimulator/GuitarPrompter.app.dSYM/Contents/Resources/DWARF/GuitarPrompter
build/Debug-iphonesimulator/GuitarPrompter.app/BaseViewController.nib
build/Debug-iphonesimulator/GuitarPrompter.app/CreateSongController.nib
build/Debug-iphonesimulator/GuitarPrompter.app/GuitarPrompter
build/Debug-iphonesimulator/GuitarPrompter.app/Info.plist
build/Debug-iphonesimulator/GuitarPrompter.app/MainWindow.nib
build/Debug-iphonesimulator/GuitarPrompter.app/PkgInfo
build/Debug-iphonesimulator/GuitarPrompter.app/TitleViewController.nib
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/GuitarPrompter-all-target-headers.hmap
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/GuitarPrompter-generated-files.hmap
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/GuitarPrompter-own-target-headers.hmap
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/GuitarPrompter-project-headers.hmap
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/GuitarPrompter.dep
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/GuitarPrompter.hmap
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/GuitarPrompter~.dep
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/BaseViewController.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/CreateSongController.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/GlyphTable.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/GuitarPrompter.LinkFileList
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/GuitarPrompterAppDelegate.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/MessengerDisplayView.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/MessengerIDGenerator.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/MessengerSystem.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/MessengerViewController.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/TitleViewController.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/Objects-normal/i386/main.o
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/build-state.dat
build/GuitarPrompter.build/Debug-iphonesimulator/GuitarPrompter.build/build-state~.dat
build/GuitarPrompter.build/GuitarPrompter.pbxindex/categories.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/cdecls.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/decls.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/files.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/imports.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/pbxindex.header
build/GuitarPrompter.build/GuitarPrompter.pbxindex/protocols.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/refs.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/strings.pbxstrings/control
build/GuitarPrompter.build/GuitarPrompter.pbxindex/strings.pbxstrings/strings
build/GuitarPrompter.build/GuitarPrompter.pbxindex/subclasses.pbxbtree
build/GuitarPrompter.build/GuitarPrompter.pbxindex/symbols0.pbxsymbols